#recipeList {
    width: 90%;
}

#recipeListItems {
    display: flex;
    flex-wrap: wrap;
}

.searchBox {
    margin-bottom: 1em;
    height: 2em;
    width: 90vw;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}