body {
    padding: 0;
    margin: 0;
}

#mainHeader {
    color: white;
    background-image: url('../assets/images/header.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 50px 0;
    text-shadow: 
        1px 1px 0px black,
       -1px -1px 0px black,
        1px -1px 0px black,
       -1px 1px 0px black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 0.1px;
    padding-bottom: 0.5px;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

nav {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#about, #recipes {
    display: flex;
    justify-content: center;
}

#recipeListItems {
    display: flex;
    flex-wrap: wrap;
}

#recipeList, #recipeViewContent, #content {
    width: 90%;
}

#recipeViewContent th, #recipeViewContent td {
    padding-left: 10px;
    padding-right: 10px;
}

#recipeView {
    display: flex;
    justify-content: center;
}

.recipeListItem {
    width: 200px;
    cursor: pointer;
    margin: 10px;
}

.recipeListItemBaner {
    width: 200px;
    height: 200px;
}

.section {
    margin-bottom: 100px;
}